.title {
  text-align: center;
  margin: 50px 0 50px 0;
  font-size: 2rem;
  font-family: "Arial"
}

.tasksList {
  font-family: "Arial";
  width: 90%;
  display: block;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.tasks-list-item {
  padding: 15px;  
  display: block;
  background-color: black ;
  margin: 0 0 10px 0;
  border-radius: 3px;
  box-shadow: 0px 3px 9px -2px rgba(0, 0, 0, 0.44);
}

.tasksList {
width: 40%;
}

.tasks-list-item { 
color: white; }

select {
background-color: rgb(153, 211, 201);
/* -webkit-appearance: none; */
border-radius: 8px;
font-size: 28px;
margin-left: 10px;
}
